// Config
@import 'config/variables';
@import 'config/formalize';


// Utilities
@import 'utilities/space';
@import 'utilities/colors';
@import 'utilities/flexbox';
@import 'utilities/typography';
@import 'utilities/display';
@import 'utilities/visibility';

html {
  color: $color-white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}
